---
layout: base
---

<div class="home">
{%- assign cat_posts = site.posts | where_exp: "p", "p.categories contains page.category" -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

  {%- if cat_posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in cat_posts -%}
      <li class="post-list-item">
        {%- if post.image -%}
          <a href="{{ post.url | relative_url }}" class="post-thumbnail">
            <img src="{{ post.image }}" alt="{{ post.title | escape }}">
          </a>
        {%- endif -%}
        <div class="post-list-content">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          {%- if post.description -%}
            <p class="post-excerpt">{{ post.description }}</p>
          {%- endif -%}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    <p>No posts yet.</p>
  {%- endif -%}
</div>
